<p class="page-tag"><span class="component">Component</span></p>
<h1>Toggle</h1>
<kage-bread-crumbs>
    <kage-bread-crumb [href]="'/library'" label="Library"></kage-bread-crumb>
    <kage-bread-crumb [href]="'/library/toggle'" label="Toggle"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Component Behavior and Input Breakdown</p>
<h3>Implementation</h3>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode">
    <div class="toggles">
        <kage-toggle [disabled]="true">Disabled here</kage-toggle>
        <kage-toggle color="primary">Primary</kage-toggle>
        <kage-toggle color="secondary">Secondary</kage-toggle>
        <kage-toggle color="tertiary">Tertiary</kage-toggle>
        <kage-toggle color="success">Success</kage-toggle>
        <kage-toggle color="danger">Danger</kage-toggle>
        <kage-toggle color="warning">Warning</kage-toggle>
        <kage-toggle color="info">Info</kage-toggle>
    </div>
</app-code-preview>
<h3>Input</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>color</p><p>'primary' | 'secondary' | 'tertiary' | 'danger' | 'success' | 'warning' | 'info'</p></div>
        <div class="each"><p>disabled</p><p>Type `boolean`. Default false</p></div>
    </div>
</div>