<div class="kage-calendar-wrapper">
  <div class="kage-calendar-header">
    <div class="kage-calendar-button" (click)="prevMonth()">
      <kage-icon name="chevron-backward" color="primary" [depth]="3" [size]="16"></kage-icon>
    </div>
    <p class="kage-calendar-month-year-selected">{{calendar.length ? (calendar[1][0] | date: 'MMM y') : ''}}</p>
    <div class="kage-calendar-button" (click)="nextMonth()">
      <kage-icon name="chevron-forward" color="primary" [depth]="3" [size]="16"></kage-icon>
    </div>
  </div>
  <div class="kage-calendar-body">
    <div class="kage-calendar-cells kage-calendar-weeks-names">
      @for (wk of ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa']; track $index) {
        <p>{{wk}}</p>
      }
    </div>
    <div class="kage-calendar-cells kage-calendar-date-cells">
      @for (dates of calendar; track $index) {
        <div class="kage-calendar-date-cells-row">
          @for (date of dates; track $index) {
            <p 
              [attr.tabIndex]="date ? 0 : null"
              [style.cursor]="date ? 'pointer' : 'inherit'"
              [class.kage-calendar-today]="isToday(date)" 
              [class.kage-calendar-date-on-range]="isInRange(date)"
              [class.kage-calendar-date-selected]="isDateSelected(date)"
              [class.kage-calender-date-multiple]="isDateMultiple(date)"
              [class.kage-calendar-date-disabled]="isDateDisabled(date)" 
              [class.kage-calendar-invalid-date]="isinvalidDate(date)"
              (keyup.enter)="dateClicked(date)"
              (click)="dateClicked(date)">
                <span>{{date ? (date | date: 'd') : ''}}</span>
            </p>
          }
        </div>
      }
    </div>
    <!-- @if (mode() === 'multiple' || mode() === 'range') {
      <div class="kage-calendar-btn-holder">
        <kage-button color="danger" fill="clear">Cancel</kage-button>
        <kage-button color="success" fill="clear">Apply</kage-button>
      </div>
    } -->
  </div>
</div>