<p class="page-tag"><span class="service">Service</span></p>
<h1>Modal</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/modal" label="Modal"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Service Behavior Breakdown</p>
<h3>Implementation</h3>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <kage-button (click)="showModal()">Click me</kage-button>
</app-code-preview>