:host{
    display: block;
    .kage-toggle-wrapper{
        display: flex;
        align-items: center;
        cursor: pointer;
        input{
            display: none;
            &:checked + span.k-toggle{
                border-color: var(--kage-toggle-active-color, var(--color-primary, transparent));
                &::after{
                    transform: translate(0, -50%) translateX(var(--kage-toggle-indication-active-position, 19px));
                    background: var(--kage-toggle-active-color, var(--color-primary, transparent));
                }
            }
            &:disabled + span.k-toggle{
                pointer-events: none;
                opacity: var(--kage-toggle-disable-opacity, .6);
            }
        }
        span.k-toggle{
            width: var(--kage-toggle-width, 35px);
            height: var(--kage-toggle-height, 16px);
            background: var(--kage-toggle-background, transparent);
            display: inline-block;
            border: var(--kage-toggle-border-width, 1px) solid var(--kage-toggle-inactive-color, var(--color-medium, transparent));
            border-radius: var(--kage-toggle-border-radius, 0px);
            position: relative;
            overflow: hidden;
            &::after{
                content: '';
                width: var(--kage-toggle-indicator-size, 10px);
                height: var(--kage-toggle-indicator-size, 10px);
                background: var(--kage-toggle-inactive-color, var(--color-medium, transparent));
                border-radius: var(--kage-toggle-border-radius, 0px);
                position: absolute;
                top: 50%;
                left: var(--kage-toggle-indication-inactive-position, 3px);
                transform: translate(0, -50%);
                transition: .4s;
            }
        }
        p{
            display: none;
            &:not(:empty){
                margin-left: 10px;
                display: block;
            }
        }
        &.primary{
            --kage-toggle-active-color: var(--color-primary);
        }
        &.secondary{
            --kage-toggle-active-color: var(--color-secondary);
        }
        &.tertiary{
            --kage-toggle-active-color: var(--color-tertiary);
        }
        &.success{
            --kage-toggle-active-color: var(--color-success);
        }
        &.danger{
            --kage-toggle-active-color: var(--color-danger);
        }
        &.warning{
            --kage-toggle-active-color: var(--color-warning);
        }
        &.info{
            --kage-toggle-active-color: var(--color-info);
        }
    }
}