<p class="page-tag"><span class="service">Service</span></p>
<h1>Toast</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/toast" label="Toast"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Service Behavior Breakdown</p>
<h3>Implementation</h3>
<app-code-preview [htmlCode]="htmlCode">
    <kage-button (click)="infoToast()">Info Toast</kage-button>
    <kage-button (click)="errorToast()">Error Toast</kage-button>
    <kage-button (click)="successToast()">Success Toast</kage-button>
    <kage-button (click)="warningToast()">Warning Toast</kage-button>
</app-code-preview>