.k-textarea-wrapper{
    display: flex;
    flex-direction: column;
    .label-title{
        &:not(:empty) {
            margin-bottom: 6px;
        }
    }
    .input-area{
        display: flex;
        border: var(--border-width, 1px) solid var(--k-input-border-color);
        transition: .4s;
        .input{
            display: flex;
            flex-direction: column;
            width: 100%;
            textarea{
                padding: var(--k-input-padding-top) var(--k-input-padding-right) var(--k-input-padding-bottom) var(--k-input-padding-left);
                color: var(--k-input-text-color);
                font-family: var(--k-input-font-family);
                background: transparent;
                resize: none;
            }
        }
        .icon{
            display: none;
            &:not(:empty) {
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                --stroke-width: var(--border-width, 1px);
            }
        }
        &:focus-within{
            border-color: var(--k-input-border-color-active);
            .icon{
                color: var(--k-input-left-icon-color-active);
                border-color: var(--k-input-border-color-active);
            }
        }
    }
    .validators{
        display: flex;
        .left{
            width: 100%;
            display: flex;
            flex-direction: column;
            .hint{
                display: none;
                &:not(:empty) {
                    display: block;
                    margin-top: 3px;
                    color: var(--color-medium);
                }
            }
            .error{
                display: none;
                &:not(:empty){
                    display: block;
                    margin-top: 3px;
                }
            }
        }
        .right{
            &:not(:empty){
                margin-left: 10px;
                margin-top: 3px;
            }
            .counter{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 12px;
                color: var(--color-medium);
                span{
                    margin-right: 3px;
                    color: var(--color-dark);
                }
            }
        }
    }
}