:host{
    display: block;
    .bread-crumb-wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
        .back-to-previous{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .links{
            width: calc(100% - 40px);
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 10px;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: 0;
            scroll-behavior: smooth;
            a, p{
                font-size: 14px;
                text-decoration: none;
                color: var(--color-text);
                text-wrap: nowrap;
            }
            p{
                color: var(--color-primary, inherit);
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}