kage-drawer-host{
    --k-drawer-backdrop-background: rgba(var(--color-light-rgb), 0.4);
    --k-drawer-backdrop-inset: 0;
    --k-drawer-backdrop-opacity: 0;
    --k-drawer-background: var(--color-background);
    --k-drawer-box-shadow: 2px 0 10px rgba(var(--color-light-rgb), 0.2);
}