@media (prefers-color-scheme: light) {
    :root{
        &::selection{
            background: var(--color-primary);
            color: #ffffff;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        &::selection{
            background: var(--color-primary);
            color: #000000;
        }
    }
}