<p class="page-tag"><span class="service">Service</span></p>
<h1>Alert</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/alert" label="Alert"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">The Alert Service allows you to trigger configurable alert dialogs such as confirmations, prompts, and custom modals. It supports dynamic content, button actions, input fields, and full lifecycle control, making it ideal for both simple alerts and complex interactions in Angular apps.</p>
<app-code-preview [tsCode]="tsCode" [htmlCode]="htmlCode" [scssCode]="scssCode">
    <kage-button (click)="prompt()">Click me</kage-button>
</app-code-preview>