<div class="container">
    <div class="logo">
        <a routerLink="/">
            <kage-icon svgSrc="assets/logo.svg" [size]="40"></kage-icon>
        </a>
    </div>
    <div class="options">
        <ul>
            <li><a routerLink="/library">Librery</a></li>
            <li><a routerLink="/icons">Icons</a></li>
            @for (publishedOn of publishingAreas; track $index) {
                <li><a [href]="publishedOn.url" target="_blank"><img [src]="publishedOn.logo" [alt]="publishedOn.name"></a></li>
            }
        </ul>
    </div>
</div>