<div class="container">
    <div class="logo">
        <a routerLink="/">
            <kage-icon svgSrc="assets/logo.svg" [size]="40"></kage-icon>
        </a>
    </div>
    <div class="options">
        <ul>
            <li><a routerLink="/library">Librery</a></li>
            <li><a routerLink="/icons">Icons</a></li>
            <li><a href="https://www.npmjs.com/package/kage-ui" target="_blank"><img src="assets/npm.png" alt=""></a></li>
            <li><a href="https://github.com/sanjib-kumar-mandal/kage-ui-documentation" target="_blank"><img src="assets/github.png" alt=""></a></li>
        </ul>
    </div>
</div>