<p class="page-tag"><span class="component">Component</span></p>
<h1>Badge</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/badge" label="Badge"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">The Badge component displays small status indicators or counts, typically used to highlight notifications, messages, or item quantities. Useful for emphasizing dynamic updates or statuses in a clean, compact way.</p>
<app-code-preview [htmlCode]="htmlCode" [tsCode]="tsCode">
    <div class="badges">
        <kage-badge>1K</kage-badge>
        <kage-badge color="primary">10K</kage-badge>
        <kage-badge color="secondary">100K</kage-badge>
        <kage-badge color="tertiary">1000K</kage-badge>
        <kage-badge color="danger">10000K</kage-badge>
        <kage-badge color="success">50000K</kage-badge>
        <kage-badge color="warning">100000K</kage-badge>
        <kage-badge color="info">500000K</kage-badge>
    </div>
</app-code-preview>
<h3>Input Signals</h3>
<p class="description">Below is the list of inputs supported by this component. It is recommended to apply custom styling by passing class names through the cssClass input.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>color</p><p>'primary' | 'secondary' | 'tertiary' | 'danger' | 'success' | 'warning' | 'info'</p></div>
        <div class="each"><p>cssClass</p><p>`string`</p></div>
    </div>
</div>
<h3>Custom CSS Variables</h3>
<p class="description">Recommended CSS Variable List — Defining values using these variables is advised to enhance maintainability and optimize CSS performance.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Fallback Values</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>--kage-badge-padding-top</p><p>2px</p></div>
        <div class="each"><p>--kage-badge-padding-right</p><p>5px</p></div>
        <div class="each"><p>--kage-badge-padding-bottom</p><p>2px</p></div>
        <div class="each"><p>--kage-badge-padding-left</p><p>5px</p></div>
        <div class="each"><p>--kage-badge-background</p><p>transparent</p></div>
        <div class="each"><p>--kage-badge-font-family</p><p>inherit</p></div>
        <div class="each"><p>--kage-badge-font-size</p><p>inherit</p></div>
        <div class="each"><p>--kage-badge-color</p><p>inherit</p></div>
        <div class="each"><p>--kage-badge-border-width</p><p>1px</p></div>
        <div class="each"><p>--kage-badge-border-color</p><p>transparent</p></div>
    </div>
</div>