<div class="full-body">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content scroll-bar">
        <div class="container">
            <h1>Introduction</h1>
            <div class="page-content">
                <p class="description">Kage-UI is a modern, lightweight, and customizable Angular component library designed with a border-first design philosophy. Built with Angular v19, it offers a set of minimalistic UI components that help you create consistent and visually clean interfaces with ease.</p>
                <p class="description">Whether you're building dashboards, admin panels, or product interfaces, Kage-UI aims to deliver a developer-friendly experience with simplicity at its core. All components are fully responsive, accessible, and designed to be easily themeable—making it the perfect choice for scalable Angular applications.</p>
                <div class="each-section">
                    <p class="content-tag-title">Key Features</p>
                    <ul>
                        <li>Clean and minimal component designs</li>
                        <li>Border-based styling for modern aesthetics</li>
                        <li>Fully compatible with Angular v19+</li>
                        <li>SSR-ready and optimized for performance</li>
                        <li>Easy theming and customizability</li>
                        <li>Lightweight and tree-shakable package</li>
                    </ul>
                </div>
                <h2>Installation</h2>
                <div class="each-section">
                    <p class="content-tag-title">Step 1: Install the Package</p>
                    <div class="code-snap npm">
                        <p>npm i kage-ui</p>
                        <span [kageCopy]="'npm i kage-ui'"><kage-icon name="copy"></kage-icon></span>
                    </div>
                    <p class="note">Note: &#64;angular/core and &#64;angular/common are required as peer dependencies.</p>
                    <p class="content-tag-title">Step 2: Include SCSS File for Customization</p>
                    <p class="description">To have full control over the UI styles, download the SCSS configuration file: <a download href="assets/kage-ui-config.zip">SCSS Config file</a></p>
                    <p class="content-tag-title">Step 3: Use Kage-UI Components</p>
                    <div class="code-snap npm">
                        <p>&lt;kage-button color="primary">Click Me&lt;/kage-button></p>
                    </div>
                </div>
                <h2>Usage Guide</h2>
                <p class="description">Go to <a [routerLink]="'/library'">reference</a> page for more details.</p>
            </div>
        </div>
    </div>
</div>