<div class="k-fab-button-wrapper" [ngClass]="[color() ?? '', position()]">
	<input type="checkbox" (change)="onChangeEffect($event)" />
	<div class="fab-button" (click)="clicked($event)"><ng-content select="[slot='icon']"></ng-content></div>
    @if (expandItems?.length) {
        <div class="fab-slot-buttons">
            @for (item of expandItems; track $index) {
                <a [routerLink]="item.redirectURI()" [ngClass]="[item.color() ?? '']" [attr.title]="item.title() ?? ''" [class.disabled]="item.disabled()">
                    <ng-container *ngTemplateOutlet="item.content"></ng-container>
                </a>
            }
        </div>
    }
</div>