kage-button{
    --k-button-font-family: var(--default-font);
    --k-button-color: var(--border-color);
    --k-button-text-transform: uppercase;
    --k-button-padding-top: 6px;
    --k-button-padding-right: 17px;
    --k-button-padding-bottom: 6px;
    --k-button-padding-left: 17px;
    --k-button-spinner-size: 1rem;
    --k-button-font-size: inherit;
}