kage-bread-crumbs{
    --k-bread-crumb-flex-wrap: wrap;
    --k-bread-crumb-link-text-decoration: none;
    --k-bread-crumb-link-text-color: var(--color-text);
    --k-bread-crumb-link-hover-text-color: var(--color-primary);
    --k-bread-crumb-font-family: var(--default-font);
    --k-bread-crumb-last-text-color: var(--color-text);
    --k-bread-crumb-space: 10px;
    // Icon
    --k-bread-crumb-between-icon-color: var(--color-text);
    --k-bread-crumb-icon-size: 15px;
}