:host{
    display: block;
    .kage-accordion-wrapper{
        .kage-accordion-header{
            min-height: var(--kage-accordion-header-min-height, 20px);
            padding: var(--kage-accordion-header-padding, 10px);
            border: var(--kage-accordion-border-width, 1px) solid var(--kage-accordion-header-border-color, transparent);
            cursor: var(--kage-accordion-header-cursor-style, pointer);
            transition: .3s;
            &:hover{
                background: var(--kage-accordion-header-hover-background);
            }
        }
        .kage-accordion-content{
            border: var(--kage-accordion-border-width, 1px) solid var(--kage-accordion-content-border-color, transparent);
            border-top: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height var(--kage-accordion-animation-transition-time, 0.2s) ease-out;
            margin-top: calc(var(--kage-accordion-border-width, 1px) * -1);
            &::ng-deep{
                [slot='content']{
                    padding: var(--kage-accordion-content-padding, 10px);
                }
            }
        }
        &.primary{
            --kage-accordion-header-border-color: var(--color-primary);
            --kage-accordion-content-border-color: var(--color-primary);
        }
        &.secondary{
            --kage-accordion-header-border-color: var(--color-secondary);
            --kage-accordion-content-border-color: var(--color-secondary);
        }
        &.tertiary{
            --kage-accordion-header-border-color: var(--color-tertiary);
            --kage-accordion-content-border-color: var(--color-tertiary);
        }
        &.success{
            --kage-accordion-header-border-color: var(--color-success);
            --kage-accordion-content-border-color: var(--color-success);
        }
        &.danger{
            --kage-accordion-header-border-color: var(--color-danger);
            --kage-accordion-content-border-color: var(--color-danger);
        }
        &.warning{
            --kage-accordion-header-border-color: var(--color-warning);
            --kage-accordion-content-border-color: var(--color-warning);
        }
        &.info{
            --kage-accordion-header-border-color: var(--color-info);
            --kage-accordion-content-border-color: var(--color-info);
        }
        &.medium{
            --kage-accordion-header-border-color: var(--color-medium);
            --kage-accordion-content-border-color: var(--color-medium);
        }
    }
}