<p class="page-tag"><span class="component">Component</span></p>
<h1>Card</h1>
<kage-bread-crumbs>
    <kage-bread-crumb [href]="'/library'" label="Library"></kage-bread-crumb>
    <kage-bread-crumb [href]="'/library/card'" label="Card"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">The Card component is a flexible container used to group related content. It supports customizable sections like header, body, and footer, and can display images, actions, and structured information in a clean, bordered layout.</p>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <kage-card style="width: 300px;">
        <img slot="card-image" src="https://images.unsplash.com/photo-1748810417930-987996d1a9e9?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h2 slot="card-title">Card title</h2>
        <p slot="card-subtitle">Card subtitle</p>
        <p slot="card-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus eaque nesciunt consequatur rerum suscipit dolores, harum magnam, corrupti sunt reprehenderit, doloremque architecto ab esse voluptatum voluptatibus blanditiis. Dolores, atque consectetur.</p>
        <div class="btns" slot="card-action">
            <kage-button fill="clear">Explore</kage-button>
            <kage-button fill="clear" color="danger">Explore</kage-button>
        </div>
    </kage-card>
</app-code-preview>
<h3>Inputs</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>href</p><p>Type `string`</p></div>
    </div>
</div>