<p class="page-tag"><span class="pipe">Pipe</span></p>
<h1>Truncate Pipe</h1>
<kage-bread-crumbs>
    <kage-bread-crumb [href]="'/library'" label="Library"></kage-bread-crumb>
    <kage-bread-crumb [href]="'/library/ordinate'" label="Truncate Pipe"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Pipe Behavior and Input Breakdown</p>
<app-code-preview [htmlCode]="htmlCode" [tsCode]="tsCode" [scssCode]="scssCode">
    <!-- Truncate to 10 characters -->
    <p>{{ 'This is a long sentence that needs truncation.' | truncate:10 }}</p><br/>
    <!-- Output: "This is a ..." -->

    <!-- Custom suffix -->
    <p>{{ 'Stick UI is awesome' | truncate:8:' >>' }}</p><br/>
    <!-- Output: "Stick UI >>" -->

    <!-- No truncation needed -->
    <p>{{ 'Short' | truncate:10 }}</p>
    <!-- Output: "Short" -->
</app-code-preview>