.kage-radio-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--kage-radio-buttons-direction, column);
  gap: var(--kage-radio-buttons-gap, 10px);
  &.disabled {
    opacity: var(--kage-radio-buttons-disable-opacity, .6);
    pointer-events: none;
  }
}