.all-preview{
    display: flex;
    flex-direction: column;
    .each-group{
        display: flex;
        flex-direction: column;
        .comp-title, .service-title, .directive-title, .pipe-title{
            font-size: 19px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .comp-title{
            color: var(--color-warning);
        }
        .service-title{
            color: var(--color-success);
        }
        .directive-title{
            color: var(--color-danger);
        }
        .pipe-title{
            color: var(--color-tertiary);
        }
        .group-items{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            gap: 10px;
            kage-card{
                .img{
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: color-mix(in srgb, var(--color-background) 90%, var(--color-medium) 10%);
                    img{
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
                p[slot="card-content"]{
                    color: var(--color-medium);
                }
                $colors: var(--color-primary), var(--color-secondary), var(--color-tertiary), var(--color-success), var(--color-danger), var(--color-warning);
                @for $i from 1 through 6 {
                    &:nth-child(#{$i}n) {
                        --kage-card-border-color: #{nth($colors, $i)};
                        --kage-card-border-top-width: 5px;
                    }
                }
            }
        }
    }
}