<div class="all-preview">
    <!-- UI components -->
    <div class="each-group">
        <h1 class="comp-title">Components</h1>
        <div class="group-items">
            <div class="item">
                <a routerLink="/librery/accordion">Accordion</a>
            </div>
            <div class="item">
                <a routerLink="/librery/badge">Badge</a>
            </div>
            <div class="item">
                <a routerLink="/librery/bread-crumb">Bread Crumb</a>
            </div>
            <div class="item">
                <a routerLink="/librery/button">Button</a>
            </div>
            <div class="item">
                <a routerLink="/librery/calendar">Calendar</a>
            </div>
            <div class="item">
                <a routerLink="/librery/card">Card</a>
            </div>
            <div class="item">
                <a routerLink="/librery/checkbox">Checkbox</a>
            </div>
            <div class="item">
                <a routerLink="/librery/chip">Chip</a>
            </div>
            <div class="item">
                <a routerLink="/librery/drawer">Drawer</a>
            </div>
            <div class="item">
                <a routerLink="/librery/fab">Fab</a>
            </div>
            <div class="item">
                <a routerLink="/librery/grid">Grid</a>
            </div>
            <div class="item">
                <a routerLink="/librery/input">Input</a>
            </div>
            <div class="item">
                <a routerLink="/librery/progress-bar">Progress Bar</a>
            </div>
            <div class="item">
                <a routerLink="/librery/radio">Radio</a>
            </div>
            <div class="item">
                <a routerLink="/librery/range">Range</a>
            </div>
            <div class="item">
                <a routerLink="/librery/searchbar">Searchbar</a>
            </div>
            <div class="item">
                <a routerLink="/librery/segment">Segment</a>
            </div>
            <div class="item">
                <a routerLink="/librery/select">Select</a>
            </div>
            <div class="item">
                <a routerLink="/librery/textarea">Teatarea</a>
            </div>
            <div class="item">
                <a routerLink="/librery/toggle">Toggle</a>
            </div>
        </div>
    </div>
    <!-- Services -->
    <div class="each-group">
        <h1 class="service-title">Services</h1>
        <div class="group-items">
            <div class="item">
                <a routerLink="/librery/alert">Alert</a>
            </div>
            <div class="item">
                <a routerLink="/librery/modal">Modal</a>
            </div>
            <div class="item">
                <a routerLink="/librery/toast">Toast</a>
            </div>
            <!-- <div class="item">
                <a routerLink="/librery/popover">Popover</a>
            </div> -->
        </div>
    </div>
    <!-- Directives -->
    <div class="each-group">
        <h1 class="directive-title">Directives</h1>
        <div class="group-items">
            <div class="item">
                <a routerLink="/librery/copy">Copy</a>
            </div>
            <div class="item">
                <a routerLink="/librery/ripple">Ripple</a>
            </div>
            <div class="item">
                <a routerLink="/librery/resize">Resize</a>
            </div>
            <div class="item">
                <a routerLink="/librery/image-view">Image View</a>
            </div>
        </div>
    </div>
    <!-- Pipes -->
    <div class="each-group">
        <h1 class="pipe-title">Pipes</h1>
        <div class="group-items">
            <div class="item">
                <a routerLink="/librery/bytes">Bytes</a>
            </div>
            <div class="item">
                <a routerLink="/librery/capitalize">Capitalize</a>
            </div>
            <div class="item">
                <a routerLink="/librery/highlight">Highlight</a>
            </div>
            <div class="item">
                <a routerLink="/librery/mask">Mask</a>
            </div>
            <div class="item">
                <a routerLink="/librery/ordinate">Ordinate</a>
            </div>
            <div class="item">
                <a routerLink="/librery/repeat">Repeat</a>
            </div>
            <div class="item">
                <a routerLink="/librery/slugify">Slugify</a>
            </div>
            <div class="item">
                <a routerLink="/librery/time-ago">Time Ago</a>
            </div>
            <div class="item">
                <a routerLink="/librery/truncate">Truncate</a>
            </div>
        </div>
    </div>
</div>