<div class="all-preview">
    <!-- UI components -->
     @for (item of features; track $index) {
        @if (item.childrens.length) {
            <div class="each-group">
                <h1 class="comp-title"><span>{{item.title | uppercase}}</span></h1>
                <div class="group-items">
                    @for (ch of item.childrens; track $index) {
                        <kage-card [href]="ch.href">
                            <div class="img" slot="card-image">
                                <img [kageImageFallback]="'assets/no-image.png'" [src]="ch.image" [alt]="ch.name">
                            </div>
                            <h2 slot="card-title">{{ch.name}}</h2>
                            <p slot="card-content" class="line-limit-3">{{ch.description}}</p>
                        </kage-card>
                    }
                </div>
            </div>
        }
     }
</div>