h1{
    margin-bottom: 10px;
}
.description{
    color: var(--color-medium);
    margin-top: 10px;
}
h3{
    color: color-mix(in srgb, var(--color-dark) 80%, var(--color-light) 20%);
    margin: 10px 0;
}
app-code-preview{
    display: block;
    .fab-container{
        min-height: 400px;
        position: relative;
    }
}