:host{
  display: block;
  .kage-select-wrapper {
    display: flex;
    flex-direction: column;
    .kage-select-label-view{
      margin-bottom: 6px;
      p{
        margin: 0;
        color: var(--color-dark);
        font-size: 14px;
      }
    }
    .kage-select-selection-area{
      position: relative;
      width: 100%;
      border-style: solid;
      border-color: var(--kage-select-border-color, var(--color-medium, transparent));
      border-top-width: var(--kage-select-border-top-width, 1px);
      border-right-width: var(--kage-select-border-right-width, 1px);
      border-bottom-width: var(--kage-select-border-bottom-width, 1px);
      border-left-width: var(--kage-select-border-left-width, 1px);
      cursor: pointer;
      user-select: none;
      font-family: sans-serif;
      background: var(--kage-select-background, transparent);
      border-radius: var(--kage-select-border-radius, 0px);
      .kage-select-selected {
        display: flex;
        .kage-select-icon{
          &:not(:empty) {
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.start{
              border-right: var(--kage-select-border-width, 1px) solid var(--kage-select-border-color, var(--color-medium, transparent));
            }
            &.end{
              border-left: var(--kage-select-border-width, 1px) solid var(--kage-select-border-color, var(--color-medium, transparent));
            }
          }
        }
        .kage-select-stage-area{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 9px 10px;
        }
      }
      .kage-select-options {
        list-style: none;
        margin: 0;
        padding: 0;
        border: var(--kage-select-border-width, 1px) solid var(--kage-select-border-color, var(--color-medium, transparent));
        border-top: none;
        background: var(--kage-select-background, var(--color-background, transparent));
        position: absolute;
        top: 45px;
        left: -1px;
        width: 100%;
        z-index: 10;
        li {
          padding: 10px;
          border-top: var(--kage-select-border-width, 1px) solid var(--kage-select-border-color, var(--color-medium, transparent));
          &.focused,
          &:hover {
            background-color: var(--kage-select-background-hover, transparent);
          }
          &.selected {
            font-weight: bold;
          }
        }
      }
      &.disabled{
        opacity: .6;
        pointer-events: none;
      }
    }
  }
}
