.k-select {
  border: var(--border-width, 1px) solid var(--k-input-border-color);
  padding: var(--k-input-padding-top) var(--k-input-padding-right) var(--k-input-padding-bottom) var(--k-input-padding-left);
  position: relative;
  cursor: pointer;
  user-select: none;
  background: var(--color-background);

  .selected-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chevron {
    transition: transform 0.2s ease;
    display: inline-block;
    margin-left: 0.5rem;
  }

  .chevron.open {
    transform: rotate(180deg);
  }

  .dropdown {
    position: absolute;
    left: calc(var(--border-width, 1px) * -1);
    right: 0;
    top: calc(100% + 5px);
    width: 100%;
    background: color-mix(in srgb, var(--color-background) 95%, var(--color-medium) 5%);
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    pointer-events: none;
    border: var(--border-width, 1px) solid var(--k-input-border-color);
    border-bottom: none;
  }

  .dropdown.open {
    max-height: 300px;
    opacity: 1;
    overflow-y: auto;
    pointer-events: auto;
  }

  .option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;

    &.selected {
      background: var(--color-primary);
      color: white;
    }

    &:hover {
      background: #f1f1f1;
    }

    .indicator input {
      pointer-events: none;
    }
  }
}
