<p class="page-tag"><span class="component">Component</span></p>
<h1>Search Bar</h1>
<kage-bread-crumbs [iconDepth]="3">
    <kage-bread-crumb [href]="'/library'" label="Library"></kage-bread-crumb>
    <kage-bread-crumb [href]="'/library/searchbar'" label="Searchbar"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">The Searchbar component provides an input field optimized for search functionality. It includes features like clear button, placeholder, optional icon, and debounced input handling for performance.</p>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <kage-searchbar></kage-searchbar>
    <kage-searchbar [disabled]="true" style="display: block; margin-top: 20px;"></kage-searchbar>
</app-code-preview>
<h3>Input</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>placeholder</p><p>Type `string`</p></div>
        <div class="each"><p>debounce</p><p>Type `number`. Default 300</p></div>
        <div class="each"><p>autofocus</p><p>Type `boolean`. Default false</p></div>
        <div class="each"><p>disabled</p><p>Type `boolean`</p></div>
        <div class="each"><p>showClear</p><p>Type `boolean`. Default true</p></div>
    </div>
</div>
<h3>Output</h3>
<p class="description">List of Output Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>search</p><p>Type `string`</p></div>
    </div>
</div>
<h3>Custom CSS Variables</h3>
<p class="description">Recommended CSS Variable List — Defining values using these variables is advised to enhance maintainability and optimize CSS performance.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Fallback Values</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>--kage-searchbar-border-width</p><p>1px</p></div>
        <div class="each"><p>--kage-searchbar-border-color</p><p>--color-medium</p></div>
        <div class="each"><p>--kage-searchbar-disable-opacity</p><p>.6</p></div>
        <div class="each"><p>--kage-searchbar-font-family</p><p>inherit</p></div>
        <div class="each"><p>--kage-searchbar-text-color</p><p>inherit</p></div>
        <div class="each"><p>--kage-searchbar-padding-top</p><p>9px</p></div>
        <div class="each"><p>--kage-searchbar-padding-right</p><p>10px</p></div>
        <div class="each"><p>--kage-searchbar-padding-bottom</p><p>9px</p></div>
        <div class="each"><p>--kage-searchbar-padding-left</p><p>10px</p></div>
        <div class="each"><p>--kage-searchbar-active-border-color</p><p>--color-primary</p></div>
    </div>
</div>