:host{
  display: block;
  .kage-searchbar-wrapper {
    display: flex;
    border: var(--kage-searchbar-border-width, 1px) solid var(--kage-searchbar-border-color, var(--color-medium, transparent));
    transition: .4s;
    &.disabled {
      opacity: var(--kage-searchbar-disable-opacity, 0.6);
      pointer-events: none;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      font-family: var(--kage-searchbar-font-family, inherit);
      background: transparent;
      color: var(--kage-searchbar-text-color, inherit);
      padding: var(--kage-searchbar-padding-top, 9px) var(--kage-searchbar-padding-right, 10px) var(--kage-searchbar-padding-bottom, 9px) var(--kage-searchbar-padding-left, 10px);
    }

    .search-icon {
      color: var(--kage-searchbar-border-color, var(--color-medium, transparent));
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: var(--kage-searchbar-border-width, 1px) solid var(--kage-searchbar-border-color, var(--color-medium, transparent));
    }

    .clear-btn {
      cursor: pointer;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--kage-searchbar-active-border-color, var(--color-primary, inherit));
      border-left: var(--kage-searchbar-border-width, 1px) solid var(--kage-searchbar-border-color, var(--color-medium, transparent));
    }

    &:focus-within {
      --kage-searchbar-border-color: var(--kage-searchbar-active-border-color, var(--color-primary, inherit));
    }
  }
}
