@use "sass:list";
.all-preview{
    display: flex;
    flex-direction: column;
    .each-group{
        display: flex;
        flex-direction: column;
        .comp-title{
            position: relative;
            height: 40px;
            span{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                padding: 5px 10px 5px 0;
                background: var(--color-background);
                z-index: 2;
                font-size: 13px;
            }
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: rgba(var(--color-medium-rgb), .3);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                z-index: 1;
            }
        }
        .group-items{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            gap: 20px;
            margin-bottom: 10px;
            kage-card{
                .img{
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: color-mix(in srgb, var(--color-background) 90%, var(--color-medium) 10%);
                    img{
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
                h2{
                    font-size: 16px;
                }
                p[slot="card-content"]{
                    color: var(--color-medium);
                }
                $colors: var(--color-primary), var(--color-secondary), var(--color-tertiary), var(--color-success), var(--color-danger), var(--color-warning);
                @for $i from 1 through 6 {
                    &:nth-child(#{$i}n) {
                        --kage-card-border-color: #{list.nth($colors, $i)};
                        --kage-card-border-bottom-width: 5px;
                        --kage-card-border-top-width: 1px;
                    }
                }
            }
        }
    }
}