<h1>Bread Crumbs</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/bread-crumb" label="Bread Crumb"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Component Behavior and Input Breakdown</p>
<h3>Implementation</h3>
<k-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode">
    <kage-bread-crumbs>
        <kage-bread-crumb label="Test" [routerLink]="'/ui-components'" [queryParams]="{opr: 'bread-crumb'}"></kage-bread-crumb>
        <kage-bread-crumb label="Test" href="#test"></kage-bread-crumb>
        <kage-bread-crumb label="Test" href="#test"></kage-bread-crumb>
        <kage-bread-crumb label="Test" href="#test"></kage-bread-crumb>
    </kage-bread-crumbs>
</k-code-preview>
<h3>Inputs (k-bread-crumb)</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>label</p><p>Type `string`</p></div>
        <div class="each"><p>href</p><p>Type `string`</p></div>
    </div>
</div>