kage-checkbox{
    --k-checkbox-width: fit-content;
    --k-checkbox-size: 18px;
    --k-checkbox-border-color: var(--border-color);
    --k-checkbox-animation-duration: 0.4s;
    --k-checkbox-disabled-opacity: 0.6;
    --k-checkbox-checked-color: var(--border-color);
}