:host{
    display: block;
    .kage-input-wrapper{
        display: flex;
        flex-direction: column;
        .label-title{
            &:not(:empty) {
                margin-bottom: 6px;
            }
        }
        .input-area{
            display: flex;
            background: var(--kage-input-background, transparent);
            border-style: solid;
            border-color: var(--kage-input-border-color, var(--kage-input-border-color, var(--color-medium, transparent)));
            border-top-width: var(--kage-input-border-top-width, 1px);
            border-right-width: var(--kage-input-border-right-width, 1px);
            border-bottom-width: var(--kage-input-border-bottom-width, 1px);
            border-left-width: var(--kage-input-border-left-width, 1px);
            transition: .4s;
            border-radius: var(--kage-input-border-radius, 0px);
            overflow: hidden;
            .input{
                display: flex;
                flex-direction: column;
                width: 100%;
                input{
                    padding: var(--kage-input-padding-top, 9px) var(--kage-input-padding-right, 10px) var(--kage-input-padding-bottom, 9px) var(--kage-input-padding-left, 10px);
                    color: var(--kage-input-text-color, inherit);
                    font-family: var(--kage-input-font-family);
                    background: transparent;
                    font-size: 15px;
                }
            }
            .icon{
                display: none;
                transition: .3s;
                &:not(:empty) {
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    &.start{
                        border-right: var(--kage-input-border-left-width, 1px) solid var(--kage-input-icon-border-color, var(--kage-input-border-color, var(--color-medium, transparent)));
                    }
                    &.end{
                        border-left: var(--kage-input-border-right-width, 1px) solid var(--kage-input-icon-border-color, var(--kage-input-border-color, var(--color-medium, transparent)));
                    }
                }
            }
            &:focus-within{
                border-color: var(--kage-input-active-border-color, var(--color-primary, inherit));
                .icon{
                    &.start, &.end{
                        border-color: var(--kage-input-active-border-color, var(--color-primary, inherit)) !important;
                    }
                }
            }
        }
        .validators{
            display: flex;
            .left{
                width: 100%;
                display: flex;
                flex-direction: column;
                .hint{
                    display: none;
                    &:not(:empty) {
                        display: block;
                        margin-top: 5px;
                        color: var(--color-medium);
                    }
                    &::ng-deep{
                        [slot="hint"]{
                            font-size: 10px;
                        }
                    }
                }
                .error{
                    display: none;
                    &:not(:empty){
                        display: block;
                        margin-top: 3px;
                    }
                }
            }
            .right{
                &:not(:empty){
                    margin-left: 10px;
                    margin-top: 3px;
                }
                .counter{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 12px;
                    color: var(--color-medium);
                    span{
                        margin-right: 3px;
                        color: var(--color-dark);
                    }
                }
            }
        }
    }
}