:host{
    display: block;
}
.k-card {
    display: flex;
    flex-direction: column;
    border: var(--border-width, 1px) solid var(--border-color);
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .k-card-image {
        &::ng-deep{
            img {
                max-width: 100%;
                display: block;
            }
        }
    }

    .k-card-body {
        padding: 5px;
        .k-card-header {
            margin-bottom: 0.5rem;
            &::ng-deep{
                [slot="card-title"] {
                    display: block;
                }
                [slot="card-subtitle"] {
                    color: var(--color-medium);
                    margin-top: 5px;
                    display: block;
                }
            }
        }

        .k-card-content {
            margin-bottom: 1rem;
        }

        .k-card-footer {
            text-align: right;
        }
    }
}
