@if (href()) {
    <a class="kage-card-link-wrapper" [routerLink]="href()" tabindex="0">
      <div class="kage-card-wrapper" [class]="cssClass() ?? ''">
        <ng-container *ngTemplateOutlet="cardContent"></ng-container>
      </div>
    </a>
} @else {
    <div class="kage-card-wrapper" [class]="cssClass() ?? ''">
      <ng-container *ngTemplateOutlet="cardContent"></ng-container>
    </div>
}

<ng-template #cardContent>
  <div class="kage-card-image">
    <ng-content select="[slot='card-image']"></ng-content>
  </div>
  <div class="kage-card-body">
    <div class="card-header">
      <ng-content select="[slot='card-title']"></ng-content>
      <ng-content select="[slot='card-subtitle']"></ng-content>
    </div>
    <div class="kage-card-content">
      <ng-content select="[slot='card-content']"></ng-content>
    </div>
    <div class="kage-card-footer">
      <ng-content select="[slot='card-action']"></ng-content>
    </div>
  </div>
</ng-template>