<p class="page-tag"><span class="component">Component</span></p>
<h1>Segment</h1>
<kage-bread-crumbs>
    <kage-bread-crumb [href]="'/library'" label="Library"></kage-bread-crumb>
    <kage-bread-crumb [href]="'/library/segment'" label="Segment"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Component Behavior and Input Breakdown</p>
<h3>Implementation</h3>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <kage-segment [options]="options" (onSegmentChange)="segmentChanged($event)" [(ngModel)]="tabId">
        <p>Tab {{tabId}}</p>
    </kage-segment>
</app-code-preview>
<h3>Input</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>options</p><p>Type `Array&lt;string> | Array&lt;SegmentOption>`</p></div>
        <div class="each"><p>disabled</p><p>Type `bollean`. Default false</p></div>
    </div>
</div>
<h3>Output</h3>
<p class="description">List of Output Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>onSegmentChange</p><p>Type `string | number`</p></div>
    </div>
</div>