<p class="page-tag"><span class="component">Component</span></p>
<h1>Accordion</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/accordion" label="Accordion"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Component Behavior and Input Breakdown</p>
<h3>Implementation</h3>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <kage-accordion [expanded]="true">
        <p slot="header">Section 1</p>
        <p slot="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dignissimos quo vitae sed sequi? Dolore, vero error explicabo est quos quibusdam nesciunt quo corrupti sint, adipisci accusamus? Tenetur, amet cum!</p>
    </kage-accordion>
    <kage-accordion color="success">
        <p slot="header">Section 2</p>
        <p slot="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dignissimos quo vitae sed sequi? Dolore, vero error explicabo est quos quibusdam nesciunt quo corrupti sint, adipisci accusamus? Tenetur, amet cum!</p>
    </kage-accordion>
    <kage-accordion color="danger">
        <p slot="header">Section 3</p>
        <p slot="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dignissimos quo vitae sed sequi? Dolore, vero error explicabo est quos quibusdam nesciunt quo corrupti sint, adipisci accusamus? Tenetur, amet cum!</p>
    </kage-accordion>
    <kage-accordion color="warning">
        <p slot="header">Section 4</p>
        <p slot="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dignissimos quo vitae sed sequi? Dolore, vero error explicabo est quos quibusdam nesciunt quo corrupti sint, adipisci accusamus? Tenetur, amet cum!</p>
    </kage-accordion>
</app-code-preview>
<h3>Inputs</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Values</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>color</p><p>'primary' | 'secondary' | 'tertiary' | 'danger' | 'success' | 'warning' | 'info'</p></div>
        <div class="each"><p>expanded</p><p>true | false</p></div>
    </div>
</div>