kage-range{
    --k-range-min-height: 48px;
    --k-range-thumb-color: var(--border-color);
    --k-range-thumb-size: 20px;
    --k-range-track-color: var(--border-color);
    --k-range-track-size: var(--border-width);
    --k-range-tooltip-color: var(--border-color);
    --k-range-tooltip-size: 80px;
}