:host{
    display: inline-block;
    .kage-chip-wrapper{
        display: inline-flex;
        align-items: center;
        width: fit-content;
        border-style: solid;
        border-color: var(--kage-chip-color, var(--color-primary, inherit));
        border-top-width: var(--kage-chip-border-top-width, 1px);
        border-right-width: var(--kage-chip-border-right-width, 1px);
        border-bottom-width: var(--kage-chip-border-bottom-width, 1px);
        border-left-width: var(--kage-chip-border-left-width, 1px);
        transition: .4s;
        background: var(--kage-chip-background, transparent);
        color: var(--kage-chip-color, var(--color-primary, inherit));
        border-radius: var(--kage-chip-border-radius, 0px);
        text-transform: var(--kage-chip-text-transform, inherit);
        &:has(.k-chip-remove) {
            padding: 5px 5px 5px 15px;
        }
        &:not(:has(.k-chip-remove)) {
            padding: 5px 15px;
        }
        &::ng-deep{
            [slot='icon']{
                margin-right: 5px;
                margin-left: -5px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 19px;
                width: 27px;
                overflow: hidden;
            }
        }
        p{
            font-family: var(--kage-chip-font-family);
        }
        .k-chip-remove{
            margin-left: 10px;
            cursor: pointer;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover{
            background: var(--kage-chip-hover-background, transparent);
        }
        /* COLOR */
        &.primary{
            --kage-chip-color: var(--color-primary);
        }
        &.secondary{
            --kage-chip-color: var(--color-secondary);
        }
        &.tertiary{
            --kage-chip-color: var(--color-tertiary);
        }
        &.danger{
            --kage-chip-color: var(--color-danger);
        }
        &.success{
            --kage-chip-color: var(--color-success);
        }
        &.warning{
            --kage-chip-color: var(--color-warning);
        }
        &.info{
            --kage-chip-color: var(--color-info);
        }
    }
}