:host{
    width: var(--kage-avatar-size, 35px);
    height: var(--kage-avatar-size, 35px);
    display: inline-block;
    .kage-avatar-wrapper{
        display: inline-block;
        border-radius: var(--kage-avatar-border-radius, 0px);
        width: 100%;
        height: 100%;
        background: var(--kage-avatar-background, transparent);
        img{
            width: 100%;
            height: 100%;
            border: var(--kage-avatar-border-width, 1px) solid var(--kage-avatar-border-color, var(--color-medium, transparent));
            padding: var(--kage-avatar-border-image-gap, 2px);
            border-radius: var(--kage-avatar-border-radius, 0px);
        }
    }
}