:host{
    display: contents;
    .kage-avatar-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--kage-avatar-border-radius, 0px);
        width: var(--kage-avatar-size, 35px);
        height: var(--kage-avatar-size, 35px);
        background: var(--kage-avatar-background, transparent);
        border: var(--kage-avatar-border-width, 1px) solid var(--kage-avatar-border-color, var(--color-medium, transparent));
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: var(--kage-avatar-border-radius, 0px);
        }
    }
}