<div class="banner">
    <mat-icon class="logo" fontIcon="fullscreen"></mat-icon>
    <h1>Stick UI Librery in angular</h1>
    <p class="description">An open source UI toolkit for building modern, high quality app in <a href="https://angular.dev/" target="_blank">Angular</a></p>
    <button routerLink="/librery">Get Started</button>
    <div class="cards">
        <div class="card">
            <mat-icon class="dark" fontIcon="code"></mat-icon>
            <h3>Low Code</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi recusandae nam id nesciunt tenetur magnam alias sit ex porro a sed necessitatibus totam tempora iure optio pariatur, labore minus reiciendis?</p>
        </div>
        <div class="card">
            <mat-icon class="warning" fontIcon="bolt"></mat-icon>
            <h3>Blazing fast</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi recusandae nam id nesciunt tenetur magnam alias sit ex porro a sed necessitatibus totam tempora iure optio pariatur, labore minus reiciendis?</p>
        </div>
        <div class="card">
            <mat-icon class="danger" fontIcon="terminal"></mat-icon>
            <h3>Server side rendering enabled (SSR)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi recusandae nam id nesciunt tenetur magnam alias sit ex porro a sed necessitatibus totam tempora iure optio pariatur, labore minus reiciendis?</p>
        </div>
        <div class="card">
            <mat-icon class="secondary" fontIcon="palette"></mat-icon>
            <h3>Theme Control</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi recusandae nam id nesciunt tenetur magnam alias sit ex porro a sed necessitatibus totam tempora iure optio pariatur, labore minus reiciendis?</p>
        </div>
    </div>
</div>
<div class="options">
    <div class="container">
        <ul>
            <li><a [routerLink]="'/privacy'">Privacy</a></li>
        </ul>
        <div class="donate-btn">
            <mat-icon fontIcon="favorite"></mat-icon>
            <p>Donate</p>
        </div>
    </div>
</div>