<div class="banner">
    <kage-icon class="page-icon" svgSrc="assets/logo.svg" [size]="100"></kage-icon>
    <h1>Kage UI Librery in angular</h1>
    <p class="description">An open source UI toolkit for building modern, high quality app in <a href="https://angular.dev/" target="_blank">Angular</a></p>
    <button routerLink="/librery">Get Started</button>
    <div class="cards">
        <div class="card">
            <mat-icon class="dark" fontIcon="code"></mat-icon>
            <h3>Low Code</h3>
            <p>Empower developers to build faster with minimal boilerplate—just install and go.</p>
        </div>
        <div class="card">
            <mat-icon class="warning" fontIcon="bolt"></mat-icon>
            <h3>Blazing fast</h3>
            <p>Optimized for speed with minimal overhead and instant user interactions.</p>
        </div>
        <div class="card">
            <mat-icon class="danger" fontIcon="terminal"></mat-icon>
            <h3>Server side rendering enabled (SSR)</h3>
            <p>Built-in server-side rendering support for SEO, performance, and seamless hydration.</p>
        </div>
        <div class="card">
            <mat-icon class="secondary" fontIcon="palette"></mat-icon>
            <h3>Theme Control</h3>
            <p>Flexible theming system with full customization support.</p>
        </div>
        <div class="card">
            <mat-icon class="tertiary" fontIcon="browser_updated"></mat-icon>
            <h3>Easy to Use</h3>
            <p>Designed with simplicity in mind—intuitive APIs, minimal setup, and clear documentation let you build faster with less friction.</p>
        </div>
    </div>
</div>
<div class="options">
    <div class="container">
        <ul>
            <li><a [routerLink]="'/privacy'">Privacy</a></li>
        </ul>
        <div class="donate-btn" (click)="donate()">
            <mat-icon fontIcon="favorite"></mat-icon>
            <p>Donate</p>
        </div>
    </div>
</div>