<p class="page-tag"><span class="component">Component</span></p>
<h1>Button</h1>
<kage-bread-crumbs [iconDepth]="3">
    <kage-bread-crumb [href]="'/library'" label="Library"></kage-bread-crumb>
    <kage-bread-crumb [href]="'/library/button'" label="Button"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">The Button component triggers actions or events when clicked. It supports various styles like primary, secondary, and outlined, and can be used with icons, loaders, and custom content. Includes support for different sizes, disabled state, and full-width layout.</p>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <div class="btns">
        <kage-button color="primary">Primary</kage-button>
        <kage-button color="secondary">Secondary</kage-button>
        <kage-button color="tertiary">Tertiary</kage-button>
        <kage-button color="danger" [loading]="true">Danger</kage-button>
        <kage-button color="success">Success</kage-button>
        <kage-button color="warning">Warning</kage-button>
        <kage-button color="info">Info</kage-button>
        <kage-button color="primary" fill="clear">Clear</kage-button>
    </div>
</app-code-preview>
<h3>Input Signals</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>cssClass</p><p>`string`</p></div>
        <div class="each"><p>type</p><p>'button' | 'submit' | 'reset'</p></div>
        <div class="each"><p>color</p><p>'primary' | 'secondary' | 'tertiary' | 'danger' | 'success' | 'warning' | 'info'</p></div>
        <div class="each"><p>loading</p><p>`boolean`</p></div>
        <div class="each"><p>iconRight</p><p>`boolean`</p></div>
        <div class="each"><p>ariaLabel</p><p>`string`, Default 'Button'</p></div>
        <div class="each"><p>fill</p><p>'clear' | 'outline', Default 'outline'</p></div>
    </div>
</div>
<h3>Custom CSS Variables</h3>
<p class="description">Recommended CSS Variable List — Defining values using these variables is advised to enhance maintainability and optimize CSS performance.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Fallback Values</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>--kage-button-padding-top</p><p>5px</p></div>
        <div class="each"><p>--kage-button-padding-right</p><p>10px</p></div>
        <div class="each"><p>--kage-button-padding-bottom</p><p>5px</p></div>
        <div class="each"><p>--kage-button-padding-left</p><p>10px</p></div>
        <div class="each"><p>--kage-button-font-family</p><p>inherit</p></div>
        <div class="each"><p>--kage-button-border-width</p><p>1px</p></div>
        <div class="each"><p>--kage-button-border-color</p><p></p></div>
        <div class="each"><p>--kage-button-text-transform</p><p>uppercase</p></div>
        <div class="each"><p>--kage-button-background</p><p>transparent</p></div>
        <div class="each"><p>--kage-button-color</p><p></p></div>
        <div class="each"><p>--kage-button-font-size</p><p>inherit</p></div>
        <div class="each"><p>--kage-button-spinner-size</p><p>17px</p></div>
        <div class="each"><p>--kage-button-spinner-color</p><p></p></div>
        <div class="each"><p>--kage-button-radial-value</p><p>0px</p></div>
    </div>
</div>