<h1>Ripple Directive</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/ripple" label="Ripple Directive"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Directive Behavior and Input Breakdown</p>
<h3>Implementation</h3>
<k-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <div style="display: inline-block; padding: 7px 15px; border: 2px solid red;" kageRipple [rippleColor]="'red'">Click me</div>
</k-code-preview>