<label>
  <div class="k-option" role="option" [attr.aria-selected]="selected" (click)="select()">
    <p class="k-option-label">{{ label() }}</p>
    <p class="k-option-indicator" [ngClass]="[multiple() ? 'k-option-indicator-checkbox' : 'k-option-indicator-radio']">
      @if (multiple()) {
        <input [attr.name]="name()" type="checkbox" [value]="value()" [checked]="selected" tabindex="-1" />
      } @else {
        <input [attr.name]="name()" type="radio" [value]="value()" [checked]="selected" tabindex="-1" />
      }
    </p>
  </div>
</label>