<p class="page-tag"><span class="component">Component</span></p>
<h1>Radio</h1>
<kage-bread-crumbs>
    <kage-bread-crumb [href]="'/library'" label="Library"></kage-bread-crumb>
    <kage-bread-crumb [href]="'/library/radio'" label="Radio"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">The Radio component lets users select a single option from a group. It supports custom styling, disabled states and integration with Angular forms.</p>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <kage-radio-group name="colorChoice" [disabled]="false">
        <kage-radio color="primary" value="primary">Primary</kage-radio>
        <kage-radio color="secondary" value="secondary">Secondary</kage-radio>
        <kage-radio color="tertiary" value="tertiary">Tertiary</kage-radio>
        <kage-radio color="warning" value="warning">Warning</kage-radio>
        <kage-radio color="info" value="blue">Info</kage-radio>
        <kage-radio value="danger" color="danger" [disabled]="true">Danger</kage-radio>
        <kage-radio value="success" color="success">Success</kage-radio>
    </kage-radio-group>
</app-code-preview>
<h3>Input (kage-radio-group)</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>name</p><p>Type `string`.</p></div>
        <div class="each"><p>disabled</p><p>Type `boolean`. Default false</p></div>
    </div>
</div>
<h3>Input (kage-radio)</h3>
<p class="description">List of Input Parameters.</p>
<div class="two-col-table">
    <div class="two-col-table-head">
        <p>Name</p>
        <p>Default Value | Type</p>
    </div>
    <div class="two-col-table-body">
        <div class="each"><p>value</p><p>Type `any`.</p></div>
        <div class="each"><p>disabled</p><p>Type `boolean`. Default false</p></div>
        <div class="each"><p>color</p><p>'primary' | 'secondary' | 'tertiary' | 'success' | 'warning' | 'danger' | 'info'</p></div>
    </div>
</div>