kage-toggle{
    --k-toggle-width: 35px;
    --k-toggle-height: 16px;
    --k-toggle-color: var(--border-color);
    --k-toggle-color-active: var(--color-primary);
    --k-toggle-indicator-width: 10px;
    --k-toggle-indicator-height: 10px;
    --k-toggle-indication-initial-position: 3px;
    --k-toggle-indication-active-position: 20px;
    --k-toggle-disable-opacity: .5;
}