.k-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    &.gap-0 { 
        gap: 0; 
    }
    &.gap-1 { 
        gap: 0.25rem; 
    }
    &.gap-2 { 
        gap: 0.5rem; 
    }
    &.gap-3 { 
        gap: 1rem; 
    }
    &.gap-4 { 
        gap: 1.5rem; 
    }
}
