<label class="kage-range-wrapper" [ngClass]="[color() ?? '', cssClass() ?? '']">
    <div class="kage-field">
        <input 
            type="range" 
            [attr.min]="min()"
            [attr.max]="max()"
            [attr.step]="step()"
            (input)="onInput($event)"
            (focus)="onFocus()"
            (blur)="onBlur()"
            [value]="value"
        />
    </div>
    @if (showTooltip()) {
        <div class="kage-range-tooltip">
            <span>{{value}}</span>
        </div>
    }
</label>