h1{
    margin-bottom: 10px;
}
.description{
    color: var(--color-medium);
    margin: 10px 0;
}
h3{
    color: var(--color-medium);
    margin: 10px 0;
}
app-code-preview{
    kage-accordion{
        margin-bottom: 20px;
        display: block;
    }
}