.k-toast-container {
  background: var(--border-color);
  color: var(--color-text);
  padding: 7px 10px;
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(var(--color-light-rgb), 0.3);
  pointer-events: auto;
  margin-bottom: 0.5rem;
  animation: fadeIn 0.3s ease;
  border-left: var(--border-width, 2px) solid var(--border-color);
  &.success{
    background: color-mix(in srgb, var(--color-background) 95%, var(--color-success) 5%);
    color: var(--color-success);
    border-color: var(--color-success);
    k-icon{
      color: var(--color-success);
    }
  }
  &.danger{
    background: color-mix(in srgb, var(--color-background) 95%, var(--color-danger) 5%);
    border-color: var(--color-danger);
    color: var(--color-danger);
    k-icon{
      color: var(--color-danger);
    }
  }
  &.warning{
    background: color-mix(in srgb, var(--color-background) 95%, var(--color-warning) 5%);
    border-color: var(--color-warning);
    color: var(--color-warning);
    k-icon{
      color: var(--color-warning);
    }
  }
  &.info{
    background: color-mix(in srgb, var(--color-background) 95%, var(--color-info) 5%);
    border-color: var(--color-info);
    color: var(--color-info);
  }
  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
