<h1>Image view Directive</h1>
<kage-bread-crumbs>
    <kage-bread-crumb href="/library" label="Library"></kage-bread-crumb>
    <kage-bread-crumb href="/library/image-view" label="Image view Directive"></kage-bread-crumb>
</kage-bread-crumbs>
<p class="description">Directive Behavior and Input Breakdown</p>
<h3>Implementation</h3>
<app-code-preview [htmlCode]="htmlCode" [scssCode]="scssCode" [tsCode]="tsCode">
    <div class="image">
        <img style="width: 200px; height: 160px;" kageImageView src="https://images.pexels.com/photos/8563018/pexels-photo-8563018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    </div>
</app-code-preview>