:host {
  display: block;
}
.code-preview-area{
  display: flex;
  flex-direction: column;
  border-top: 5px solid color-mix(in srgb, var(--color-background) 80%, var(--color-medium) 20%);
  .each{
    display: flex;
    flex-direction: column;
    .type-title{
      background: color-mix(in srgb, var(--color-background) 90%, var(--color-medium) 10%);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      p{
        color: var(--color-secondary);
        font-family: 'my-font-bold';
        font-size: 14px;
        text-transform: uppercase;
      }
    }
    .code-content{
      background: color-mix(in srgb, var(--color-background) 95%, var(--color-medium) 5%);
      padding: 10px;
      overflow-y: hidden;
      overflow-x: auto;
      pre{
        width: max-content;
        code{
          font-family: monospace, math, 'system-ui';
          &:empty ~ .each{
            display: none;
          }
        }
      }
    }
  }
}