:host {
  display: block;
}
.code-preview-area{
  display: flex;
  flex-direction: column;
  .each{
    display: flex;
    flex-direction: column;
    .type-title{
      background: color-mix(in srgb, var(--color-background) 90%, var(--color-medium) 10%);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .code-content{
      background: color-mix(in srgb, var(--color-background) 95%, var(--color-medium) 5%);
      padding: 10px;
    }
  }
}