<div class="code-preview-area">
    <div class="each">
        <div class="type-title"><p>Preview</p></div>
        <div class="code-content"><ng-content></ng-content></div>
    </div>
    <div class="each">
        <div class="type-title"><p>Typescript</p></div>
        <div class="code-content"><pre class="preview-frame"><code #tsBlock></code></pre></div>
    </div>
    <div class="each">
        <div class="type-title"><p>HTML</p></div>
        <div class="code-content"><pre class="preview-frame"><code #htmlBlock></code></pre></div>
    </div>
    <div class="each">
        <div class="type-title"><p>SCSS</p></div>
        <div class="code-content"><pre class="preview-frame"><code #scssBlock></code></pre></div>
    </div>
</div>